<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulärsida</title>
    <link rel="stylesheet" href="style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Formulär för nya medlemmar</h1>
      <nav>
        <ul>
          <li><a th:href="@{/}">Hem</a></li>
          <li><a th:href="@{/memberpage}">Våra medlemar</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div th:if="${message}">
        <p th:text="${message}"></p>
      </div>

      <div id="adminFeatures" style="display: none">
        <form method="post" th:action="@{/new-member}" th:object="${newMember}">
          <input type="text" th:field="*{name}" placeholder="Member Name" />
          <input type="text" th:field="*{email}" placeholder="Member Email" />
          <input type="submit" value="Lägg till medlem" />
        </form>
      </div>
    </main>
  </body>
</html>
