<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logga in</title>
    <link th:rel="stylesheet" th:href="@{/style.css}" />
    <script th:src="@{/script.js}" defer></script>
  </head>
  <body>
    <header>
      <h1 th:text="${homePageName}">Välkommen</h1>
      <nav>
        <ul>
          <li><a th:href="@{/memberpage}">Våra medlemar</a></li>
          <li><a th:href="@{/formpage}">Formulär</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="login-container">
        <form onsubmit="loginFunc(event)">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />

          <button type="submit">Login</button>
          <button id="adminFeatures" style="display: none" onclick="logout()">
            Logga ut
          </button>
          <p id="result">Välkommen, Logga in...</p>
        </form>
      </div>
    </main>
  </body>
</html>
